<!-- FOOTER -->
		<footer class="footer">
		
			<div class="container">
		
				<div class="row">
		
					<div class="col-sm-12 text-center">
						<p class="copyright font-inc m-b-0">© 2015  Desenvolvido por  <a href="https://www.facebook.com/Code-Web-House-140066279682563/">Code Web House</a>, Todos os direitos reservados.</p>
					</div>
		
				</div>
		
			</div>
		
		</footer>
		<!-- /FOOTER -->