<%= render "header" %>

<div class="wrapper">

	<!-- HOME -->
	<section class="module module-header bg-dark bg-dark-50" data-background="/images/background.jpg">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h1 class="module-title font-alt align-center">Nossas Regras</h1>
					<div class="module-subtitle font-inc align-center">
						Porque todo lugar precisa de <b>regras</b> básicas de convivência, não pedimos nada de absurdo, apenas queremos fazer amigos ao invés de membros, temos como valores a <b><i>humildade</i></b> e o <b><i>respeito</i></b>.
					</div>


					<div class="module-subtitle bg-light align-center">
						<div class="panel panel-success">
							<div class="panel-heading">
								As regras valem para todos, independente do seu nível.
							</div>
							<div class="panel-body">
								<ol>
									<li>Não permitimos xingamentos no chat do clã. <i>(Nem todos gostam... Respeito é tudo)</i>.</li>
									<li>Não permitimos <i>'KS'</i>. <i>(Comportamento que até o jogo considera ilegal)</i>.</li>
									<li>Não aceitamos roubo, ou <i>'hackers'</i>.<i>(Prezamos por um jogo honesto e justo)</i>.</li>
									<li>Discussões pessoais apenas em <i>'PM'</i>.<i>(Certas coisas não precisam ser expostas a todos)</i>.</li>
									<li>Não queremos brigas de clans, apenas competitividade de forma legal. <i>(SOD, BC ...)</i> .</li>
									<li>Tratamos todos da mesma forma, independente do level, sem arrogância.</li>
									<li>Qualquer dúvida, reclamação, ou denúncia, falar diretamente comigo. <b><i>AllenWalker¹</i></b></li>
								</ol>
							</div>
							<div class="panel-footer">
								<div class="label label-warning">*O descumprimento das regras estará sujeito a aviso, suspensão ou expulsão do clan.</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<!-- /MODULE TITLE -->
		</div>

	</section >

</div>

<%= render "footer" %>